.header_top_profile_hidden_b2b_notification {
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  padding: 20px;
  width: 357px;
  display: none;
  box-shadow: 2px 6px 15px -2px rgba(29, 32, 34, 0.05);
}

.header_top_profile_hidden_b2b_notification.active {
  display: block;
}

.header_top_profile_hidden_b2b_notification_header {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.subscription_description_check1 {
  margin-top: 25px;
  display: flex;
  max-width: 630px;
  width: 100%;
}

.subscription_description_check1 p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 135%;
  margin-top: 0px;
  color: #919191 !important;
}

.subscription_description_check_input {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  margin-right: 15px;
}

.subscription_description_check_input input {
  width: 20px;
  height: 20px;
  position: absolute;
  opacity: 0;
}

.subscription_description_check_input label {
  width: 20px;
  height: 20px;
  position: absolute;
  border: 1px solid #808588;
}

.subscription_description_check_input label:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background: transparent;
  top: 2px;
  left: 4px;
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}

.subscription_description_check_input input[type=checkbox]:checked+label:after {
  opacity: 1;
}

.subscription_description_check_input input[type=checkbox]:checked+label {
  background: #C49A6C;
  border: 1px solid #C49A6C;
}

.header_top_profile_hidden_b2b_notification_header p {
  color: #808588;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  margin-left: 10px;
  transition: .3s;
}

.header_top_profile_hidden_b2b_notification_header i {
  width: 14px;
  height: 16px;
  background-image: url(/img/icon/arrow_allEquipment.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: .3s;
  flex-shrink: 0;
  transform: rotate(180deg);
  transition: .3s;
}

.header_top_profile_hidden_b2b_notification_header:hover p {
  color: #BC905F;
}

.header_top_profile_hidden_b2b_notification_header:hover i {
  background-image: url(/img/icon/arrow_hover_allEquipment.svg);
  transform: rotate(180deg);
}

.header_top_profile_hidden_b2b_notification_tittle {
  margin-top: 20px;
  color: #33383A;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
}

.header_top_profile_hidden_b2b_notification_item {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header_top_profile_hidden_b2b_notification_item span {
  color: #33383A;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  display: block;
  margin-bottom: 6px;
}

.header_top_profile_hidden_b2b_notification_item p {
  color: #1C1E1F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}

.header_top_profile_hidden_b2b_notification_item a {
  display: flex;
  align-items: center;
  margin-top: 20px;
  text-decoration: none;
}

.header_top_profile_hidden_b2b_notification_item a p {
  color: #808588;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  margin-right: 10px;
  transition: .3s;
}

.header_top_profile_hidden_b2b_notification_item a i {
  width: 14px;
  height: 16px;
  background-image: url(../img/icon/arrow_allEquipment.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: .3s;
  flex-shrink: 0;
}

.header_top_profile_hidden_b2b_notification_item a:hover p {
  color: #BC905F;
}

.header_top_profile_hidden_b2b_notification_item a:hover i {
  background-image: url(../img/icon/arrow_hover_allEquipment.svg);
  transform: translateX(10px);
}
.profile_head_body_b2b {
  display: flex;
  align-items: center;
}

.profile_head_body_b2b.mob {
  display: none;
}

.profile_head_body_b2b span {
  color: #808588;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.profile_head_body_b2b div {
  display: flex;
  align-items: center;
}

.profile_head_body_b2b input {
  color: #33383A;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
  margin-left: 20px;
  margin-right: 6px;
  border: none;
  background: inherit;
  width: 140px;
  height: 22px;
}

.profile_head_body_b2b i {
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/img/icon/b2b_copy.svg);
  cursor: pointer;
}
.b2b_chapter h3 {
  color: #1C1E1F;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.6px;
  max-width: 740px;
  width: 100%;
}

.b2b_chapter_box {
  margin-top: 60px;
  display: flex;
  align-items: center;
  max-width: calc(100% - 180px);
  width: 100%;
}

.b2b_chapter_box_line {
  width: 100%;
  height: 1px;
  background: #D9DEE0;
  margin: 0 20px;
}

.b2b_chapter_box_item {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  position: relative;
}

.b2b_chapter_box_item_square {
  width: 100%;
  height: 100%;
  border: 1px solid #D9DEE0;
  background: #FFF;
  color: #33383A;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.b2b_chapter_box_item.active .b2b_chapter_box_item_square {
  background: #C49A6C;
  color: #fff;
  border: 1px solid #C49A6C;
}

.b2b_chapter_box_item_discription {
  position: absolute;
  left: 0;
  top: 60px;
}

.b2b_chapter_box_item_discription span {
  color: #33383A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}

.b2b_chapter_box_item.active span {
  color: #C49A6C;
}

.b2b_chapter_box_item_discription p {
  margin-top: 10px;
  color: #808588;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}

.b2b_chapter_box .b2b_chapter_box_item:nth-child(1) p {
  width: 102px;
}

.b2b_chapter_box .b2b_chapter_box_item:nth-child(3) p {
  width: 160px;
}

.b2b_chapter_box .b2b_chapter_box_item:nth-child(5) p {
  width: 212px;
}

.b2b_chapter_box .b2b_chapter_box_item:nth-child(7) p {
  width: 185px;
}

.b2b_chapter_box .b2b_chapter_box_item:nth-child(9) p {
  width: 223px;
}

.b2b_chapter_box_btn {
  margin-top: 145px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: .3s;
  background: #1C1E1F;
  box-shadow: 2px 6px 15px -2px rgba(29, 32, 34, 0.05);
  width: 200px;
  height: 58px;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  text-align: center;
}

.b2b_chapter_box_btn:hover {
  background: #C49A6C;
  box-shadow: 2px 6px 15px -2px rgba(29, 32, 34, 0.05);
}

.b2b_chapter_box_btn:active {
  background: #BC905F;
  box-shadow: 2px 6px 15px -2px rgba(29, 32, 34, 0.05);
}

.profile_box_orders_b2b {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile_box_orders_b2b_filter {
  display: flex;
  align-items: center;
}

.profile_box_orders_b2b_filter_item,
.profile_box_orders_b2b_filter_price {
  border: 1px solid #D9DEE0;
  background: #FFF;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  transition: .3s;
  flex-shrink: 0;
}

.profile_box_orders_b2b_filter_item {
  margin-right: 10px;
}

.profile_box_orders_b2b_filter_item p,
.profile_box_orders_b2b_filter_price p {
  color: #808588;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  transition: .3s;
}

.profile_box_orders_b2b_filter_item i {
  display: none;
}

.profile_box_orders_b2b_filter_item.active,
.profile_box_orders_b2b_filter_price.active {
  background: #C49A6C;
  border: 1px solid #C49A6C;
}

.profile_box_orders_b2b_filter_item.active p,
.profile_box_orders_b2b_filter_price.active p {
  color: #fff;
}

.profile_box_orders_b2b_filter_item.active i {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(/img/icon/tag.svg);
  margin-left: 10px;
  display: flex;
}

.profile_box_orders_b2b_filter_price i {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 10px;
  background-image: url(/img/icon/icon_catalog_sort_mobile.svg);
  transform: rotate(180deg);
  display: flex;
}

.profile_box_orders_b2b_percent {
  display: flex;
  align-items: center;
}

.profile_box_orders_b2b_percent span {
  color: #808588;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  margin-right: 14px;
}

.profile_box_orders_b2b_percent p {
  color: #33383A;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.b2b_profile_info_subtittle {
  color: #808588;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  margin-bottom: 10px;
}

.b2b_profile_info_discription {
  color: #33383A;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  max-width: 510px;
  width: 100%;
  margin-bottom: 30px;
  margin-left: 3%;
}

.b2b_profile_info_doc {
  margin-top: 30px;
}

.b2b_profile_info_doc_tittle {
  color: #33383A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  margin-bottom: 16px;
}

.b2b_profile_info_doc_item {
  display: flex;
  align-items: flex-end;
  margin-top: 24px;
}

.b2b_profile_info_doc_item i {
  width: 20px;
  height: 20px;
  background-image: url(/img/icon/doc_b2b.svg);
  flex-shrink: 0;
}

.b2b_profile_info_doc_item p {
  color: #33383A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  margin-left: 6px;
  flex-shrink: 0;
}

.b2b_profile_info_doc_item span {
  width: 100%;
  height: 1px;
  background-color: #D9DEE0;
  margin: 0 2px;
}

.b2b_profile_info_doc_item a {
  text-decoration: none;
  align-items: center;
  display: flex;
  flex-shrink: 0;
}

.b2b_profile_info_doc_item a span {
  color: #808588;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  width: auto;
  height: auto;
  background-color: inherit;
  margin: 0;
}

.b2b_profile_info_doc_item a i {
  background-image: url(/img/icon/b2b_download.svg);
  margin-left: 6px;
}

.pop_entrance {
  width: 100%;
  height: 100%;
  background: #FBFBFB;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;
}

.pop_entrance.basic {
  position: relative;
  padding-bottom: 50px;
}

.pop_entrance_head {
  padding-top: 10px;
}

.pop_entrance_head {
  position: relative;
}

.pop_entrance_head_logo {
  width: 102px;
  height: 46px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/img/icon/logo_header.svg);
  display: block;
  margin: 0 auto;
}

.pop_entrance_head_back {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 30px;
  text-decoration: none;
}

.pop_entrance_head_back p {
  color: #808588;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  margin-left: 10px;
}

.pop_entrance_head_back i {
  width: 14px;
  height: 16px;
  background-image: url(/img/icon/arrow_allEquipment.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: .3s;
  flex-shrink: 0;
  transform: rotate(180deg);
  transition: .3s;
}

.pop_entrance_head_back:hover i {
  background-image: url(/img/icon/arrow_hover_allEquipment.svg);
  transform: rotate(180deg);
}

.pop_entrance_head_back:hover p {
  color: #C49A6C;
}

.pop_entrance_box {
  background: #FFF;
  box-shadow: 2px 6px 15px -2px rgba(29, 32, 34, 0.05);
  padding: 40px 40px 20px 40px;
  max-width: 560px;
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.pop_entrance_box.basic {
  position: relative;
  transform: none;
  top: inherit;
  left: inherit;
  margin: 30px auto 0px auto;
}

.pop_entrance_box_tittle {
  color: #282828;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.6px;
  margin-bottom: 40px;
}

.pop_entrance_box span {
  color: #33383A;
  margin-top: 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  display: inline-block;
  margin-bottom: 14px;
}

.pop_entrance_box input {
  border: 1px solid #D9DEE0;
  background: #FFF;
  width: 100%;
  height: 58px;
  padding: 10px;
  outline: none;
}

.pop_entrance_box input::placeholder {
  color: #808588;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.pop_entrance_box p {
  color: #808588;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  margin-top: 10px;
}

.pop_entrance_box input[type="submit"] {
  background: #1C1E1F;
  box-shadow: 2px 6px 15px -2px rgba(29, 32, 34, 0.05);
  margin-top: 60px;
  border: none;
  color: #fff;
  font-size: 16px;
  line-height: 58px;
  color: #FFF;
  padding: 0;
  cursor: pointer;
  transition: .3s;
}

.pop_entrance_box input[type="submit"]:hover {
  background: #C49A6C;
  box-shadow: 2px 6px 15px -2px rgba(29, 32, 34, 0.05);
}

.pop_entrance_box input[type="submit"]:active {
  background: #BC905F;
  box-shadow: 2px 6px 15px -2px rgba(29, 32, 34, 0.05);
}

.pop_entrance_box_register {
  color: #808588;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  margin-top: 20px;
  display: block;
  text-align: center;
  text-decoration: none;
  transition: .3s;
}

.pop_entrance_box_register:hover {
  color: #C49A6C;
}

.pop_entrance_box_password {
  position: relative;
}

.pop_entrance_box_password i {
  width: 20px;
  height: 20px;
  background-image: url(/img/icon/password.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 10px;
  top: 19px;
  display: block;
  cursor: pointer;
  transition: .3s;
}

.pop_entrance_box_password i:hover {
  background-image: url(/img/icon/password_hover.svg);
}

.pop_entrance_box_password i.active {
  background-image: url(/img/icon/password_no.svg);
}

.pop_entrance_box_password i.active:hover {
  background-image: url(/img/icon/password_no_hover.svg);
}

.pop_entrance_box_error.active {
  font-size: 12px;
  color: #D81F1F;
  margin-top: 15px;
  display: block;
}

.pop_entrance_box_error {
  display: none;
}

.pop_entrance_footer {
  display: none;
}

.pop_entrance_box_subtittle {
  color: #808588;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  margin-bottom: 60px;
}

.pop_entrance_box_explanation {
  color: #33383A;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 10px;
  padding-top: 10%;
}

.pop_entrance_box_radio {
  display: flex;
  align-items: center;
  margin-top: 22px;
}

.pop_entrance_box_radio p {
  color: #808588;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  margin-top: 0;
  margin-left: 8px;
}

.pop_entrance_box_radio.active p {
  color: #C49A6C;
}

.pop_entrance_box_radio_inp {
  position: relative;
  width: 20px;
  height: 20px;
}

.pop_entrance_box_radio_inp input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}

.pop_entrance_box_radio_inp label {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FFF;
  border: 1px solid #808588;
  display: block;
  position: relative;
  transition: .3s;
}

.pop_entrance_box_radio_inp label::after {
  border-radius: 12px;
  background: #C49A6C;
  width: 12px;
  height: 12px;
  content: '';
  position: absolute;
  display: block;
  top: 3px;
  left: 3px;
  opacity: 0;
  transition: .3s;
}

.pop_entrance_box_radio_inp input[type=radio]:checked+label {
  border: 1px solid #C49A6C;
}

.pop_entrance_box_radio_inp input[type=radio]:checked+label:after {
  opacity: 1;
}

.pop_entrance_box_note {
  color: #808588;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}

.pop_entrance_box_successful {
  color: #808588;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  margin-top: 20px;
}

.pop_entrance_box_btn {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.pop_entrance_box_btn a {
  text-decoration: none;
  height: 58px;
  width: calc(50% - 8px);
  font-size: 16px;
  line-height: 58px;
  text-align: center;
  transition: .3s;
}

.pop_entrance_box_btn a:nth-child(1) {
  background: #1C1E1F;
  box-shadow: 2px 6px 15px -2px rgba(29, 32, 34, 0.05);
  color: #fff;
}

.pop_entrance_box_btn a:nth-child(1):hover {
  background: #C49A6C;
  box-shadow: 2px 6px 15px -2px rgba(29, 32, 34, 0.05);
}

.pop_entrance_box_btn a:nth-child(1):active {
  background: #BC905F;
  box-shadow: 2px 6px 15px -2px rgba(29, 32, 34, 0.05);
}

.pop_entrance_box_btn a:nth-child(2) {
  background: #D9DEE0;
  border: 1px solid #D9DEE0;
  color: #1C1E1F;
}

.pop_entrance_box_btn a:nth-child(2):hover {
  border: 1px solid #1C1E1F;
  background: transparent;
}

.pop_entrance_box_btn a:nth-child(2):active {
  border: 1px solid #33383A;
  background: #D9DEE0;
}

.pop_entrance_box .pop_entrance_box_register_successful {
  color: #808588;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  margin-left: 5px;

}

.pop_entrance_box_basic_subtittle {
  color: #808588;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  margin-bottom: 40px;
  max-width: 360px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.pop_entrance_box_basic_explanation {
  color: #808588;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  margin-top: 10px;
}

.pop_entrance_box_basic_agreement {
  display: flex;
  align-items: center;
  margin-top: 22px;
}

.pop_entrance_box_basic_agreement p {
  color: #808588;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  margin: 0;
  margin-left: 8px;
  transition: .3s;
}

.pop_entrance_box_basic_agreement.active p {
  color: #C49A6C;
}

.pop_entrance_box_basic_agreement_inp {
  position: relative;
  width: 20px;
  height: 20px;
}

.pop_entrance_box_basic_agreement_inp input {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  opacity: 0;
  visibility: hidden;
}

.pop_entrance_box_basic_agreement_inp label {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background: #FFFFFF;
  border: 1px solid #808588;
  cursor: pointer;
}

.pop_entrance_box_basic_agreement_inp label:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background: transparent;
  top: 2px;
  left: 4px;
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}

.pop_entrance_box_basic_agreement_inp input[type=checkbox]:checked+label:after {
  opacity: 1;
}

.pop_entrance_box_basic_agreement_inp input[type=checkbox]:checked+label {
  background: #C49A6C;
  border: 1px solid #C49A6C;
}

.pop_entrance_box.basic input[type="submit"] {
  margin-top: 40px;
}

.pop_entrance_box_successful {
  width: 106px;
  height: 106px;
  background-image: url(/img/icon/successful.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto 40px auto;
}

.pop_entrance_box_code {
  display: flex;
  width: auto;
}

.pop_entrance_box_code input {
  width: 70px !important;
  margin-right: 11px;
  color: #808588;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
  padding: 0 auto;
}

.pop_entrance_box_code input:last-child {
  margin-right: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pop_entrance_box_code_error {
  color: #808588;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  margin-top: 10px;
  display: none;
}

.pop_entrance_box_code_error.active {
  display: block;
}

.entrance_code {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1200px) {.b2b_chapter_box .b2b_chapter_box_item:nth-child(1) p {
  width: 100px;
}

  .b2b_chapter_box .b2b_chapter_box_item:nth-child(3) p {
    width: 155px;
  }

  .b2b_chapter_box .b2b_chapter_box_item:nth-child(5) p {
    width: 165px;
  }

  .b2b_chapter_box .b2b_chapter_box_item:nth-child(7) p {
    width: 165px;
  }

  .b2b_chapter_box .b2b_chapter_box_item:nth-child(9) p {
    width: 165px;
  }
}
@media (max-width: 1060px) {.profile_head_body_b2b {
  align-items: flex-end;
  flex-direction: column;
}

  .profile_box_orders_b2b {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .profile_head_body_b2b span {
    margin-bottom: 5px;
  }

  .profile_box_orders_b2b_percent {
    margin-bottom: 20px;
  }

}
@media (max-width: 900px) {
  .b2b_chapter_box {
    margin-top: 40px;
    align-items: center;
    max-width: none;
    flex-direction: column;
  }

  .b2b_chapter_box_line {
    width: 1px;
    height: 40px;
    margin: 10px 0;
  }

  .b2b_chapter_box_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .b2b_chapter_box_item_discription {
    position: relative;
    left: inherit;
    top: inherit;
    margin-top: 20px;
  }

  .b2b_chapter_box_item_square {
    width: 40px;
    height: 40px;
  }

  .b2b_chapter_box_item_discription span,
  .b2b_chapter_box_item_discription p {
    text-align: center;
    display: block;
  }

  .b2b_chapter_box .b2b_chapter_box_item:nth-child(1) p {
    width: 102px;
  }

  .b2b_chapter_box .b2b_chapter_box_item:nth-child(3) p {
    width: 160px;
  }

  .b2b_chapter_box .b2b_chapter_box_item:nth-child(5) p {
    width: 212px;
  }

  .b2b_chapter_box .b2b_chapter_box_item:nth-child(7) p {
    width: 185px;
  }

  .b2b_chapter_box .b2b_chapter_box_item:nth-child(9) p {
    width: 223px;
  }

  .b2b_chapter_box_btn {
    margin-top: 30px;
  }

  .b2b_chapter h3 {
    font-size: 24px;
  }

  .profile_box_orders_b2b_percent {
    margin-top: 20px;
  }

  .profile_head_body_b2b.mob {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border: 1px solid var(--light-gray, #D9DEE0);
    background: var(--white, #FFF);
    gap: 20px;
    margin-top: 25px;
    max-width: 360px;
    width: 100%;
  }

  .profile_head_body_b2b input {
    margin-left: 0px;
  }

  .b2b_profile_info {
    margin-top: -20px;
  }

  .b2b_profile_info .profile_head_body_b2b.mob {
    margin-bottom: 20px;
  }
}
@media (max-width: 744px) {
  .pop_entrance.successful {
    background: #fbfbfb;
  }

  .pop_entrance.successful .container {
    background-color: #fff;
  }

  .pop_entrance.successful .pop_entrance_footer {
    background-color: #fff;
  }

  .pop_entrance.successful .pop_entrance_box {
    box-shadow: 2px 6px 15px -2px rgba(29, 32, 34, 0.05);
    padding: 40px 40px 20px 40px;
    max-width: none;
    width: calc(100% - 40px);
  }

  .pop_entrance {
    background: #fff;
  }

  .pop_entrance_head_logo {
    display: none;
  }

  .pop_entrance_box {
    box-shadow: none;
    padding: 0px 20px 20px 20px;
    max-width: none;
    overflow-y: scroll;
    max-height: 100vh;
  }

  .pop_entrance .container {
    height: 60px;
    border-bottom: 1px solid rgba(217, 222, 224, .5);
  }

  .pop_entrance_head_back {
    top: 25px;
  }

  .pop_entrance_footer {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 34px;
    width: 100%;
    border-top: 1px solid rgba(217, 222, 224, .5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pop_entrance_footer span {
    width: 134px;
    height: 5px;
    border-radius: 100px;
    background: #000;
  }

  .pop_entrance_box_code {
    justify-content: space-between;
  }
}

@media (max-width: 550px) {
  .profile_box_orders_detail .profile_box_orders_item_btn_contact.b2b {
    width: 100%;
  }
  .b2b_chapter h3 {
    font-size: 18px;
  }

  .b2b_chapter_box_btn {
    width: 100%;
    height: 48px;
    font-size: 14px;
    line-height: 48px;
  }

  .profile_head_body_b2b.mob {
    margin-top: 5px;
    max-width: none;
  }

  .profile_box_orders_b2b_filter_wrap {
    width: 100%;
    overflow: hidden;
    height: 34px;
    position: relative;
  }

  .profile_box_orders_b2b_filter {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    transition: .3s;
  }

  .b2b_profile_info_doc .b2b_profile_info_doc_item:nth-child(2) p {
    overflow: hidden;
    max-width: 185px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .b2b_profile_info_doc_item p {
    font-size: 12px;
  }

  .b2b_profile_info {
    margin-top: 0px;
  }

  .pop_entrance_box_tittle {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .pop_entrance_box span {
    font-size: 12px;
  }

  .pop_entrance_box p {
    font-size: 10px;
  }

  .pop_entrance_box input[type="submit"] {
    font-size: 14px;
    line-height: 48px;
    height: 48px;
  }

  .pop_entrance_box_radio p {
    font-size: 14px;
  }

  .pop_entrance_box_btn {
    flex-direction: column;
  }

  .pop_entrance_box_btn a {
    width: 100%;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .pop_entrance_box_btn a:last-child {
    margin-bottom: 0px;
  }

  .pop_entrance_box_note {
    font-size: 12px;
  }

  .pop_entrance_box_successful {
    font-size: 12px;
    margin-top: 10px;
  }

  .pop_entrance_box_basic_subtittle {
    font-size: 12px;
  }

  .pop_entrance_box.basic span {
    margin-top: 14px;
    font-size: 12px;
    margin-bottom: 10px;
  }

  .pop_entrance_box_basic_explanation {
    font-size: 10px;
    margin-top: 10px;
  }

  .pop_entrance_box_basic_agreement p {
    font-size: 12px;
    margin-left: 12px;
  }

  .pop_entrance_box_basic_agreement {
    margin-top: 10px;
  }

  .pop_entrance_box.basic input[type="submit"] {
    margin-top: 30px;
  }

  .pop_entrance_box.basic .pop_entrance_box_register {
    margin-top: 14px;
  }

  .pop_entrance_box.basic {
    margin: 20px auto 0px auto;
  }

  .pop_entrance_box.basic .pop_entrance_box_tittle {
    margin-bottom: 20px;
  }

  .pop_entrance.basic {
    position: relative;
    padding-bottom: 40px;
  }

  .pop_entrance_box_code input {
    width: 60px !important;
    margin-right: 6px;
  }
}
@media (max-width: 450px) {
  .pop_entrance_box_code input {
    width: 50px !important;
    height: 50px;
    margin-right: 6px;
  }
}